body {
  font-size: 15px;
  line-height: 30px;
  color: #444;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: bold;
}

h1, h2{
  font-size: 47px;
  line-height: 52px;
  color: #000;
  font-weight: bold;
  font-family: 'Gilroy', 'Arial', sans-serif;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  min-height: 229px;
}

.logo-to-index {
  padding-left: 60px;
  font-size: 48px;
  font-family: 'Gilroy ExtraBold', 'Sans Serif', sans;
  text-decoration: none;
}

.user-block {
  font-size: 0px;
  margin-bottom: 43px;
}

.search-block{
  display: inline-block;
  vertical-align: baseline;
  padding-left: 60px;
  width: 540px;
  font-size: 15px;
}

.user-account {
  display: inline-block;
  vertical-align: baseline;
  width: 280px;
  font-size: 15px;
}

.action-block {
  display: inline-block;
  vertical-align: baseline;
  font-size: 15px;
  width: 280px;
}

.enter {

}

.user {

}

.navigation-menu {
  margin-bottom: 55px;
  font-size: 0px;
}

.nav-catalog {
  display: inline-block;
  vertical-align: baseline;
  width: 500px;
  padding-left: 60px;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
}

.main-navigation {
  display: inline-block;
  vertical-align: baseline;
  width: 560px;
  font-size: 18px;
}

.nav-delivery {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
  width: 140px;
}

.nav-warranity {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
  width: 200px;
}

.nav-contacts {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  text-transform: uppercase;
  font-style: italic;
  width: 170px;
}

.banner {
  min-height: 500px;
  margin-bottom: 98px;
}

.banner-picture {
  float: left;
  width: 600px;
  padding: auto;
  text-align: center;
}

.banner-content {
  float: right;
  width: 560px;
}

.banner-details {
  float: left;
  width: 222px;
}

.banner-navigation {
  float:right;
  width:80px;
}

.banner-info {
  width: 560px;
  min-height: 65px;
  font-size: 0px;
}

.feature-info {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 160px;
}

.catalog-list {
  margin-bottom: 90px;
  min-height: 232px;
  font-size: 0px;
}

.variation {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 40px;
  font-size: 18px;
}

.variation:last-child {
  margin-right: 0px;
}

.info-block {
  min-height: 318px;
  margin-bottom: 71px;
}

.info-menu {
  float: left;
  width: 280px;
}

.info-description {
  float: right;
  width: 880px;
}

.partners-logo {
  font-size: 0px;
  min-height: 289px;
  width: 1200px;
}

.partners-logo-item{
  float: left;
  width: 260px;
  margin-right: 40px;
}

.partners-logo-item:last-child {
  margin-right: 0px;
}

.about-us {
  float: left;
  width: 600px;
  min-height: 651px;
}

.contacts {
  float: right;
  width: 560px;
  min-height: 651px;
}

.main-footer {
  min-height: 325px;
}

.footer-links {
  padding-top: 60px;
  margin-bottom: 38px;
}

.logo-foot {
  float: left;
  width: 836px;
  font-size: 48px;
  font-family: 'Gilroy ExtraBold', 'Sans Serif', sans;
  text-decoration: none;
}

.user-block-foot {
  float: right;
  width: 324px;
  text-align: right;
}

.footer-contacts {
  min-height: 87px;

}

.organization-adress {
  float: left;
  font-size: 15px;
  width: 360px;
}

.footer-navigation {
  float: left;
  width: 440px;
  font-size: 15px;
}

.foot-delivery {
  float: left;
  width: 120px;
}

.foot-warranity {
  float: left;
  width: 120px;
}

.foot-contacts{
  float: left;
  width: 120px;
}

.number-phone {
  float: right;
  text-align: right;
  font-size: 15px;
  width: 360px;
}

.footer-info-links {
  font-size: 0px;
}

.decorative-element {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 500px;
}

.footer-social{
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 160px;
  margin-right: 470px;
}

.social-btn{
  width: 39px;
  min-height: 39px;
  margin-right: 15px;
  font-size: 3px;
}

.social-btn:last-child {
  margin-right: 0px;
}


.htmlacademy-link {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 30px;
}

/*catalog*/

.catalog-hat {
  min-height: 180px;
}

.title-variation {
  margin-top: 40px;
  margin-bottom: 32px;
}

.breadcrumps {
  font-size: 0px;
}

.breadcrumps-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 40px;
}

.catalog-sorting {
  min-height: 70px;
  font-size: 0px;
}

.title-filtr {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  margin-right: 180px;
}

.title-sort{
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  margin-left: 73px;
  margin-right: 53px;
}

.type-sort {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  margin-right: 27px
}

.sort-to-max {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  margin-right: 25px;
}

.sort-to-min {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
}

.catalog-filter {
  float:left;
  width: 267px;
  min-height: 1218px;
}

.catalog-view {
  float:right;
  width: 800px;
  padding-left: 52px;
  padding-top: 52px;
  font-size: 0px;
}

.catalog-product {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin: 20px;
  font-size: 15px;
}

.paginator {
  margin-left: 20px;
  font-size: 15px;
}
