@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-size: 15px;
  line-height: 30px;
  color: #444;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
  font-weight: bold;
}

h1, h2{
  font-size: 47px;
  line-height: 54px;
  color: #000;
  font-weight: bold;
  font-family: 'Gilroy', 'Arial', gilroy;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header .container{
  background: linear-gradient(to bottom, transparent 40px, rgba(240, 197, 46, 0.5) 20px);
  margin: auto;
  padding-top: 25px;
  padding-bottom: 10px;
}

.logo-to-index {
  position: relative;
  padding-left: 60px;

  font-size: 48px;
  font-family: 'Gilroy', 'Sans Serif', gilroy;
  text-decoration: none;
  color: #000000;
}

.logo-to-index:hover {
  color: #464646;
}

.logo-to-index:active {
  color: #666666;
}

/* Функции для пользователя */

.user-block {
  font-size: 0px;
  margin-bottom: 26px;
  margin-top: 8px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
}

.search-block{
  position: relative;
  min-width: 442px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  border-bottom: 0px solid #000000;
  margin-right: 100px;
}

.search-block label{
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -175px ;
  padding-right: 20px;
  padding-top: 20px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
}

.search-block label:hover {
  opacity: 0.6;
}

.search-block input[type="text"]{
  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  background-color: transparent;
  line-height: 47px;
  width: 324px;
  opacity: 0.3;
  border: 0px solid;
  outline: none;
  padding-left: 40px;
  padding-top: 0;

  border-bottom: 2px solid transparent;
}

.search-block input[type="submit"] {
  display: none;
  opacity: 1;
  width: 83px;
  min-height: 49px;
  background-color: transparent;
  outline: none;
  border: 2px solid #000000;
  bottom: 0px;
  right: 0;
  cursor: pointer;
}

.search-block input[type="text"]:hover {
  background-color: transparent;
  opacity: 0.6;
}

.search-block input[type="text"]:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

input[type="text"]:focus + .search-btn {
  display: block;
}

input[type="text"]:focus + .search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

input[type="text"] + input[type="submit"]:active {
  display: block;
  border-bottom: 2px solid #000000;
  opacity: 1;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
}

.user-links {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

/* форма входа  */
.user-account {
  width: 280px;
  font-size: 15px;

  position: relative;
}

.user-account a {
  text-decoration: none;
  color: #272525;
}

.enter,
.user {
  padding-left: 25px;
}

.user .name {
  padding-right: 15px;
}

.user .exit {
  opacity: 0.3;
}

.user-account a:hover {
  opacity: 0.6;
}

.user-account a:active {
  opacity: 0.3;
}

/*иконка формы входа*/
.enter::before,
.user .name::before {
  content: "";
  position: absolute;
  margin: auto;

  top: 9px;
  left: 0;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -31px -175px ;
}

.enter:hover::before {
  opacity: 0.6;
}

/* Сравнить и корзина */

.action-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  position: relative;
  width: 220px;
}

.action-block a{
  color: #272525;
  text-decoration: none;
  width: 220px;
}

.compare {
  width: 100px;
  padding-left: 20px;
  position: relative;
}

.compare::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -71px -5px ;
}

.basket {
  width: 83px;
  padding-left: 23px;
  position: relative;
  text-align: right;
}

.basket::before {
  content: "";
  position: absolute;
  right: 70px;
  top: 10px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -5px ;
}

.action-block a:hover {
  opacity: 0.6;
}

.action-block a:active {
  opacity: 0.3;
}

/* Основная навигация по сайту */

.navigation-menu {
  display: flex;
  align-items: flex-start;
  align-self: baseline;
  margin-left: 60px;
  margin-right: 55px;
  padding: 0;
  font-size: 0px;
  font-family: 'Gilroy', 'Arial', gilroy;
  text-transform: uppercase;
  position: relative;
}

.navigation-menu a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 4px;

}

.navigation-menu a:hover {
  opacity: 0.6;
}

.navigation-menu a:active {
  opacity: 0.3;
}

.nav-catalog {
  width: 543px;
  padding-bottom: 35px;
  margin: 0;
  font-size: 18px;
  align-self: center;
}


.catalog-menu {
  align-self: center;
  position: relative;
  padding-right: 30px;
}

.catalog-menu::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 2px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -463px -49px ;
  opacity: 0.3;
}

.nav-catalog:hover .show-menu{
  display: block;
}

.show-menu {
  display: none;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: -60px;
  width: 1100px;
  height: 127px;
  padding-left: 60px;
  padding-top: 0;

  background-color: #f7e296;
  margin: 0;
}

.menu-list{
  display: flex;
  margin: 0;
  padding-left: 0px;
  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  text-transform: none;
}

.show-menu p{
  padding-bottom: 5px;
  margin: 0;
}

.show-menu a {
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  padding: 0px;
  margin: 0;
  line-height: 0.5;
}

.menu-list .column-item {
  margin-top: -13px;
  margin-right: 40px;
  width: 160px;
}

.menu-list .column-item:nth-child(1) {
  width: 200px;
}

.main-navigation {
  width: 560px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.main-navigation ul {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}

.main-navigation li {
  list-style: none;
  margin: 0;
}

.nav-delivery {
  width: 160px;
}

.nav-warranity {
  width: 120px;
}

.nav-contacts {
  text-align: right;
  width: 223px;
}

/* Банер */

.banner {
  min-height: 500px;
  margin-bottom: 93px;
  position: relative;
  background: linear-gradient(to top, transparent 390px, rgba(240, 197, 46, 0.5) 390px);
}

.banner-slide {
  display: none;
}

.banner-slide.active{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.banner-picture {
  width: 560px;
  max-height: 520px;

  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 560px;
  max-height: 520px;
  position: relative;
}

.banner-number {
  color: #ffffff;
  font-size: 179.2px;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: bold;
  line-height: 170px;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 45px;
  top: 0px;
  z-index: 0;
}

.banner-title {
  margin: 0;
  padding-top: 87px;
  position: absolute;
  z-index: 1;
}

.banner-title::before {
  content: "";
  position: absolute;

  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin-top: -45px;
}

.banner-description {
  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  margin-top: 215px;
  margin-bottom: 45px;
}

.more-info {
  margin-bottom: 21px;
}

.banner-details {
  float: left;
  width: 222px;
  margin: 0;
}

.banner-info {
  font-size: 0px;
  padding: 0;
  margin: 0;
}

.feature-info {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  margin-right: 70px;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
}

.feature-title {
  font-size: 36px;
  font-weight: normal;
  font-family: 'Gilroy', 'Arial', gilroy;
  color: #000000;
  margin-bottom: 0;
}

.btn {
  text-decoration: none;
  color: #000000;

  letter-spacing: 4px;
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  position: relative;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s height;
}

.btn:hover::before {
  height: 100%;
}

.btn:active {
  background-color: #f0c52e;
  color: rgba(0,0,0,0.3);
}

.banner-navigation {
  position: absolute;
  display: flex;
  top: 335px;
  right: 80px;
  font-size: 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .list-style-nav{
  width: 4px;
  height: 4px;
  border: 3px solid #000;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  color: black;

  margin-right: 23px;
}


.list-style-nav:last-child {
  margin-right: 0px;
}

.list-style-nav:hover {
  opacity: 0.4;
}

.list-style-nav:active {
  opacity: 1;
}

.list-style-nav.active {
  opacity: 1;
}

/* Категории продукции */

.catalog-list {
  margin-top: 0;
  margin-bottom: 88px;
  padding: 0;
  min-height: 232px;
  font-size: 0px;
}

.catalog-list a {
  text-decoration: none;
  color: #000000;
  position: relative;
  padding-top: 193px;
  margin-top: 0;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-size: 18px;
  line-height: 1;
}

.variation::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  opacity: 0.5;
}

.variation:hover::before{
  opacity:1;
}

.variation:active::before{
  background-color: #ffc600;
  opacity: 1;
}

.variation:active::after {
  opacity: 0.3
}

.variation:active span {
  opacity: 0.3
}

.virtual-reality::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -317px -179px ;
}

.monopods-for-selfi::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -349px ;
}

.action-camera::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -175px -349px ;
}

.fitness-bracelets::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -345px -349px ;
}

.smart-clock::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -537px -5px ;
}

.quadcopters::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 160px;
  height: 160px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -487px -175px ;
}

.variation {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 40px;
  margin-top: 195px;
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
}

.variation:nth-child(6n){
  margin-right: 0px;
}

/* Важная информация для пользователей */
.index-content {
  padding-bottom: 70px;
  margin-bottom: 97px;
  background: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.info-block {
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
}

.hidden-block {
  display: none;
}

.info-menu {
  float: left;
  width: 276px;
  border-right: 7px solid #000000;
  padding-top: 80px;
  padding-bottom: 43px;
}

.info-menu a{
  display: block;
  width: 160px;
  margin-bottom: 25px;
  text-decoration: none;
}


.info-menu a:active{
  min-width: 255px;
  text-align: left;
  padding-left: 25px;
  color: #f7e184;
  background-color: #000000;
}

.info-menu a:active::before {
  background: transparent;
}

.active-info{
  min-width: 255px;
  text-align: left;
  padding-left: 25px;
  color: #f7e184;
  background-color: #000000;
  z-index: 2;
}

.active-info::before {
  background-color: transparent;
}

.info-description {
  float: right;
  width: 756px;
  padding-left: 120px;
  padding-top: 30px;
  position: relative;
}

.info-description h2{
  margin-bottom: 27px;
  margin-top: 30px;
}

.info-description p {
  max-width: 460px;
}

.info-delivery::before {
  content: "";
  position: absolute;
  right: 67px;
  top: 82px;
  display: block;
  width: 138px;
  height: 173px;

  margin-left: 0;
  padding: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -317px -5px ;
}

.info-warranity::before {
  content: "";
  position: absolute;
  right: 46px;
  top: 63px;
  display: block;
  width: 178px;
  height: 190px;

  margin-left: 0;
  padding: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -515px -345px ;
}

.info-credit::before {
  content: "";
  position: absolute;
  right: 80px;
  top: 59px;
  display: block;
  width: 165px;
  height: 190px;

  margin-left: 0;
  padding: 0;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -151px -5px ;
}

/* Логотипы партнеров */

.partners-logo {
  display: inline-block;
  vertical-align: top;

  width: 1200px;
  margin-bottom: 83px;
}

.partners-logo-item{
  float: left;
  display: block;
  width: 260px;
  min-height: 100;
  margin-right: 40px;
  opacity: 0.2;
  background-color: #ffffff;
  filter: grayscale(100%);
}


.partners-logo-item:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.partners-logo-item:last-child {
  margin-right: 0px;
}

/* О нас и контакты */
.slider-info{
  display: flex;
  justify-content: space-between;
}

.title-info {
  padding-top: 10px;
}

.about-us {
  width: 480px;
  min-height: 651px;
  margin-right: 120px;
  background-color: #ffffff;
}

.about-us::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us a{
  display: block;
  width: 260px;
}

.about-us p {
  font-size: 15px;
  font-family: 'Open Sans','Arial', sans;
  font-weight: 400;
  color: #464646;
  line-height: 2;
  text-align: left;
  padding-bottom: 15px;
}

.about-us ul {
  margin-top: 50px;
  padding-left: 0;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: bold;
  line-height: 40px;
  color: #000000;
  margin-bottom: 55px;
}

.about-us li{
 list-style: none;
 padding-left: 37px;
 position: relative;
}

.list-style-marker::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40%;
  width: 4px;
  height: 4px;
  border: 3px solid #000;
  border-radius: 50%;
  opacity: 0.3;
}

.contacts {
  width: 560px;
  background-color: #ffffff;
}

.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts a{
  display: block;
  width: 260px;
  cursor: pointer;
}

.contacts p {
  font-size: 15px;
  font-family: 'Open Sans','Arial', sans;
  color: #767676;
  line-height: 2;
  text-align: left;
  margin-bottom: 40px;
}

.map-block {
  display: block;
  width: 560px;
  height: 225px;
  background-color: red;
}

.map-contact {
  width: 560px;
  height: 225px;
  margin-bottom: 65px;
}

.map-contact::before {
  content: "";
  position: absolute;
  display: block;
  width: 560px;
  height: 225px;

  background: #e9e9e9 url("../img/map.jpg") no-repeat;

  cursor: pointer;
}

/* Подвал */
.main-footer {
  min-height: 325px;
  background-color: #464646;
  color: #ffffff;
}

.main-footer a {
  text-decoration: none;
}

.footer-links{
  padding-right: 0;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-foot {
  width: 170px;
  padding-top: 70px;
  font-size: 48px;
  font-family: 'Gilroy', 'Arial', gilroy;
  text-decoration: none;
  color: #f7e184;
  opacity: 1;
}

.logo-foot:hover {
  color: #f0c52e;
}

.logo-foot:active {
  color: #f0c52e;
  opacity: 0.3;
}

.user-block-foot{
  padding: 0;
  margin: 0;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 325px;
}

.user-block-foot a{
  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);

  margin-top:0;
  padding: 0;
}

.user-block-foot a:hover{
  color: rgba(255, 255, 255, 1);
}

.user-block-foot a:active{
    color: rgba(255, 255, 255, 0.3);
}

.user-block-foot .login {
  padding-left: 28px;
  margin-right: 42px;
  position: relative;
}

.user-block-foot .compare{
  width: 70px;
  padding-left: 21px;
  margin-right: 43px;
}

.user-block-foot .basket {
  padding-left: 21px;
  width: 63px;
  text-align: right;
}

.user-block-foot .login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -54px -175px ;
  fill: #000000;
}

.user-block-foot .login:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -77px -175px ;
}

.user-block-foot .login:active::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -77px -175px ;
  opacity: 0.3;
}

.user-block-foot .compare::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -91px -5px ;
}

.user-block-foot .compare:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -111px -5px ;
}

.user-block-foot .compare:active::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -111px -5px ;
  opacity: 0.3;
}

.user-block-foot .basket::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -27px -5px ;
  opacity: 1;
}

.user-block-foot .basket:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -49px -5px ;
}

.user-block-foot .basket:active::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -49px -5px ;
  opacity: 0.3;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
}

.organization-adress {
  font-size: 15px;

  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin-top: -5px;
  padding-top: 0;
}

.footer-navigation {
  width: 440px;
  margin-right: 30px;
  font-size: 0px;
  margin-top: 0px;

  padding: 0;
}

.footer-navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer-navigation li {
  list-style: none;
  font-size: 15px;
}

.footer-navigation a {
  color: #ffffff;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

.number-phone {
  text-align: right;
  font-size: 15px;

  font-family: 'Open Sans', 'Arial', sans;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin-top: -5px;
}

.footer-info-links {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.decorative-element {
  height: 7px;
  width: 80px;
  margin-top: 18px;

  background-color: #ffe27f;
}

.htmlacademy-link {
  display: block;
  width: 27px;
  height: 37px;

  margin-top: 5px;
}

.htmlacademy-link::before {
  content: "";
  display: block;

  top: 5px;
  right: 0px;

  width: 27px;
  height: 37px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -463px -5px;
}

.htmlacademy-link:hover::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -500px -5px;
}

.htmlacademy-link:active::before {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -500px -5px;
  opacity: 0.3;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 158px;
  margin-right: 50px;
}


.social-btn:last-child {
  margin-right: 0px;
}

.social-btn {
  width: 39px;
  height: 39px;
  margin: 0 2px;
  font-size: 0;

  text-decoration: none;

  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.social-btn-fb {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -49px;
}

.social-btn-inst {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -54px -49px;
}

.social-btn-tw {
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -103px -49px;
}

/*catalog*/

.catalog-hat h1{
  margin-bottom: 15px;
}

.title-variation {
  margin-top: 35px;
  margin-bottom: 43px;
  padding-left: 60px;
}

/*Хлебные крошки*/

.breadcrumps {
  font-size: 0px;
  padding-left: 60px;
  padding-top: 2px;
  margin-bottom: 43px;
}

.breadcrumps-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 14px;
  padding-right: 40px;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
}

.breadcrumps-item.active {
  opacity: 0.3;
}

.breadcrumps-item a {
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.breadcrumps-item a:hover {
  opacity: 0.6;
}

.breadcrumps-item a:active {
  opacity: 0.1;
}

.breadcrumps-item::after,
.breadcrumps-item::before {
  content:"";
  position: absolute;
  display: block;

  right: 19px;

  width: 2px;
  height: 5px;

  background-color: #000000;
}

.breadcrumps-item::after {
  transform: rotate(45deg);
  top: 14px;
}

.breadcrumps-item::before {
  transform: rotate(-45deg);
  top: 11px;
}

.breadcrumps-item:last-child::after,
.breadcrumps-item:last-child::before {
  background-color: transparent;
}

/*Основное содержимое каталога*/
.catalog-page {
  position: relative;
  background: linear-gradient(to left, transparent 50%, #efefef 50%);
}

.list-settings {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-settings .container {
  display: flex;
}

/*Шапка фильтров и сортировок*/

.filter-title {
  width: 267px;
  padding-left: 60px;
  font-size: 16px;

  color: #000000;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sorting-title {
  width: 760px;
  padding-left: 73px;

  display: flex;
  justify-content: space-between;
}

.sorting-title a {
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans;
  opacity: 0.3;
  font-weight: normal;
}

.sorting-title a:hover {
  opacity: 0.6;
}

.sorting-title a:active {
  opacity: 1;
}

.sorting-title .active {
  opacity: 1;
}

.title-sort-type {
  width: 673px;
  display: flex;
  align-items: baseline;
  font-size: 0px;
}

.title-sort{
  font-size: 16px;
  margin-right: 53px;
  color: #000000;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.type-sort {
  font-size: 14px;
  margin-right: 27px;
  opacity: 1;
}

.sorting-arrows {
  display: flex;
  justify-content: space-between;
  width: 60px;

  max-height: 10px;
  margin-top: 25px;

  font-size: 0px;
}

.sort-to-max {
  width: 17px;
  max-height: 9px;
}

.sort-to-max::before {
  content: "";
  display: block;
  z-index: 1;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #000000 transparent;
}

.sort-to-min {
  width: 17px;
  height: 9px;
  right: 0;
}

.sort-to-min::before {
  content: "";
  display: block;
  z-index: 1;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 9px 0 9px;
  border-color: #000000 transparent transparent transparent;
}

/*Фильтры*/
.catalog-filter {
  float: left;
  width: 267px;
  padding-left: 60px;
  margin-left: 0;
  margin-top: 140px;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
}

.catalog-filter fieldset {
  border: 0px solid;
  margin-bottom: 15px;
  padding-left: 0;
  margin-left: 0;

  display: flex;
  flex-direction: column;
}

.catalog-content-title {
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', gilroy;

  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 11px;

  border-top: 2px solid #000000;
  width: 200px;
}
/*Оформление range*/

.filter-price .catalog-content-title {
  margin-bottom: 24px;
}

.filter-price input[type="text"] {
  font-size: 14px;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
  opacity: 0.2;
  margin-bottom: 9px;
  width: 75px;

  outline: transparent;
  border-color: transparent;
  background-color: transparent;
}

.filter-price input[type="range"] {
  display: none;
}

.filter-price .range {
  display: inline-block;
  width: 200px;
  height: 15px;

  background: linear-gradient(to top, transparent 13px, #dcdcdc 13px);
  background-position: 0 8px;
  position: relative;
}

.filter-price .range-active {
  width: 123px;
  height: 15px;

  background: linear-gradient(to top, transparent 13px, #72ca00 13px);
  background-position: 0 7px;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.range-runner {
  width: 10px;
  height: 10px;

  background-color: #efefef;
  border: 2px solid #000000;
  border-radius: 15px;

  cursor: pointer;
}

.range-runner:active {
  background-color: #63b000;
  border: 2px solid #ffffff;
  border-radius: 15px;
}

/*Оформление ckeck-box*/
.filter-checkbox {
  padding-bottom: 12px;
}

.filter-checkbox .catalog-content-title{
  padding-bottom: 18px;
}

.filter-checkbox label{
  display: block;
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}


.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 3px;
  left: 0;

  width: 23px;
  height: 23px;

  background-color: #dcdcdc;
}

label:hover input[type="checkbox"] + .checkbox-indicator{
  background-color: #cfcfcf;
}

label:active input[type="checkbox"] + .checkbox-indicator{
  background-color: #c5c5c5;
}

.filter-checkbox input[type="checkbox"]:checked +.checkbox-indicator::before {
  content:"";
  position: absolute;
  top: 10px;
  left: 8px;

  width: 10px;
  height: 2px;

  background-color: #000000;
  transform: rotate(-45deg);
}

.filter-checkbox input[type="checkbox"]:checked +.checkbox-indicator::after {
  content:"";
  position: absolute;
  top: 11px;
  left: 5px;

  width: 6px;
  height: 2px;

  background-color: #000000;
  transform: rotate(45deg);
}

/*Оформление radio-button*/
.filter-radio .catalog-content-title {
  margin-bottom: 18px;
}

.filter-radio label {
  display: block;
  margin-bottom: 10px;
  padding-left: 40px;
  margin-left: 0px;
  position: relative;
  cursor: pointer;
}

.filter-radio input[type="radio"] {
  display: none;
}

.filter-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 3px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #dcdcdc;
  border-radius: 12px;
}

label:hover input[type="radio"] + .radio-indicator{
  border: 2px solid #bebebe;
}

label:active input[type="radio"] + .radio-indicator{
  border: 2px solid #adadad;
}

.filter-radio input[type="radio"]:checked +.radio-indicator::before {
  content:"";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 5px;
  height: 5px;

  border: 2px solid #000000;
  border-radius: 5px;
}

/*Кнопка отправки*/
.show-results{
  width: 200px;
  background: linear-gradient(to top, transparent 33px, #f0c52e 33px);
  background-position: 0 17px;
  border: 0px solid transparent;
  outline: none;
}

.show-results:hover {
  background-color: #f0c52e;
}

/*Товары*/

.catalog-view {
  float:right;
  width: 760px;
  padding-left: 73px;
  padding-top: 140px;
  font-size: 0px;
  background-color: #ffffff;
  background-position: 50px 50px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.catalog-listproducts {
  display: flex;
  flex-wrap: wrap;
}

.catalog-product {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 50px;
  font-size: 0px;
  position: relative;

}

.image-info {
  margin-bottom: 18px;
}

.catalog-product img {
  background-color: #efefef;
}

.catalog-product:nth-child(2n){
  margin-right: 0px;
}

.catalog-product a {
  text-decoration: none;
}

.new-icon {
  display: block;
  position: absolute;
  top: 28px;
  right: 28px;
  width: 58px;
  height: 58px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 32px;

  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  line-height: 4.2;
  opacity: 0.5;
}

/*При наведении на картинку*/

.catalog-product .image-info:hover .hover-item {
  display: block;
  cursor: pointer;
}

.image-info:hover .add-compare{
  color: #000000;
  opacity: 0.5;
  font-size: 13px;
  font-family: 'Open Sans', 'Arial', sans;
  font-weight: 400;
  color: #000000;
  line-height: 2.769;
}

.image-info:hover .add-compare:hover {
  opacity: 1;
}

.image-info:hover .add-compare:active{
  opacity: 0.2;
}

.hover-item {
  display: none;
  width: 360px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.catalog-product .hover-item::before{
  content: "";
  display: block;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(239, 239, 239, 0.7);
}

.to-compare {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 220px;
  margin: auto;
  text-align: center;
}

.btn-basket {
  display: block;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 175px;
  margin: auto;

}

.product-title {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 0;
  width: 260px;
  font-size: 18px;
  font-family: 'Gilroy', 'Arial', gilroy;
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
}

.product-price {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 1px;
  width: 100px;
  font-size: 16px;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: normal;
  color: #444444;
  line-height: 1.2;
  text-align: right;
}

.catalog-product:nth-child(2n) {
  margin-right: 0px;
}

.new-hidden {
  display: none;
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  font-size: 15px;
  background-color: #ebebeb;
  margin-bottom: 73px;
  margin-top: -10px;
  font-size: 0;
  padding: 0px;
}

.paginator a {
  text-decoration: none;
}

.paginator .btn-pag {
  font-size: 16px;
  color: #000000;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.3;
  padding-right: 27px;
}

.paginator .btn-pag:last-child {
  padding-right: 0px;
}

.paginator .btn-pag:hover {
  opacity: 0.6;
}

.paginator .btn-pag:active {
  opacity: 1;
}

.paginator .btn-active {
  opacity: 1;
}

.btn-catalog-prev,
.btn-catalog-next {
  font-size: 16px;
  color: #000000;
  font-family: 'Gilroy', 'Arial', gilroy;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 20px 30px;
}

.btn-catalog-prev:hover {
  background-color: #d9d9d9;
}

.btn-catalog-prev:active {
  background-color: #878787;
  opacity: 0.3;

}

.btn-catalog-next:hover {
  background-color: #d9d9d9;
}

.btn-catalog-next:active {
  background-color: #878787;
  opacity: 0.3;
}

/*Всплывающие окна*/
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
  position: fixed;
  display: none;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 960px;
  max-height: 550px;
  color:#000000;

  background-color: #ffffff;
  box-shadow:
     0px 10px 40px 0px rgba(0, 0, 0, 0.3),
    -50px 0 50px -50px rgba(0, 0, 0, 0.7),
    50px 0 50px -50px rgba(0, 0, 0, 0.7);

  z-index: 3;
}

.modal-map {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 960px;
  max-height: 560px;

  background: #e9e5dc url("../img/map-big.jpg");
  box-shadow:
     0px 10px 20px 0px rgba(0, 0, 0, 0.2);

  z-index: 3;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 23px;
  right: 23px;

  width: 50px;
  height: 50px;

  font-size: 0;

  background-color: #ffc600;
  opacity: 0.5;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 9px;

  width: 32px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.login-form {
  margin: 95px;
}

.name-mail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.login-form .user-name {
  padding: 0;
  min-width: 360px;
}

.login-form .user-e-mail {
  padding: 0;
  min-width: 360px;
}

.login-form .message-field {
  max-width: 760px;
  margin-bottom: 36px;
}

.login-form textarea {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  padding: 15px 20px;
  border-color: transparent;
  min-width: 730px;
}

.login-form .btn-message {
  width: 200px;
  background-color: transparent;
  border: none;
  bottom: 0;
}

.login-form input[type="text"] {
  background-color: rgba(235, 235, 235,0.5);
  color: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-color: transparent;
  display: block;
  position: relative;
  width: 320px;
  margin-bottom: 40px;
}

.login-form input:hover,
.login-form textarea:hover {
  background-color: rgba(235, 235, 235,0.8);
  color: rgba(0, 0, 0, 0.4);
}

.login-form input[type="text"]:active,
.login-form textarea:active{
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  outline: none;
  border: 2px solid #e5e5e5;
}

.login-form input[type="text"]:focus,
.login-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  outline: none;
  border: 2px solid #e5e5e5;
}

.btn-message {
  outline: none;
}

.login-form input[type="text"].invalide-value{
  background-color: rgba(255, 182, 182, 0.5);
}
