@font-face {
font-family: "Gilroy";
src: local("Gilroy Light"), local("Gilroy-Light"),
url("../fonts/gilroylight.woff2") format("woff2"),
url("../fonts/gilroylight.woff") format("woff"),
url("../fonts/Gilroylight.ttf") format("truetype");
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: "Gilroy";
src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
url("../fonts/gilroyextrabold.woff2") format("woff2"),
url("../fonts/gilroyextrabold.woff") format("woff"),
url("../fonts/Gilroyextrabold.ttf") format("truetype");
font-weight: 800;
font-style: normal;
}

body {
  font-size: 15px;
  line-height: 30px;
  color: #444;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: bold;
}

h1, h2{
  font-size: 47px;
  line-height: 52px;
  color: #000;
  font-weight: bold;
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;


}

.main-header .container{
  background: linear-gradient(to bottom, transparent 20px, #ffe27f 20px);
  margin: 20px auto  auto auto;
}

.logo-to-index {
  position: relative;
  padding-left: 60px;
  font-size: 48px;
  font-family: 'Gilroy ExtraBold', 'Sans Serif', sans;
  text-decoration: none;
  color: #000000;
}

.logo-to-index:hover {
  color: #272525;
}

.logo-to-index:active {
  color: #464646;
}

/* Функции для пользователя */

.user-block {
  font-size: 0px;
  margin-bottom: 43px;
}

.search-block{
  display: inline-block;
  vertical-align: baserline;
  padding-left: 60px;

  width: 540px;
  font-size: 15px;
}

.search-block label{
  padding-left: 20px;
  opacity: 0.3;
}

.search-block label:hover {
  opacity: 0.6;
}

.search-block input[type="submit"]{
  content: "";
  position: relative;
  width: 18px;
  height: 18px;
  background: transparent url("../img/search.png") no-repeat;
  /*background-position: -1px -15px;*/
  opacity: 0.3;
}

.search-block input[type="text"]{
  background-color: transparent;
  opacity: 0.3;
  border: 0px solid;
}

.search-block input[type="text"]:hover{
  background-color: transparent;
  opacity: 0.6;
}

.search-block input[type="text"]:focus{
  background-color: transparent;
  opacity: 1;
  border-bottom: 2px solid #000000;
}

/* форма входа  */
.user-account {
  display: inline-block;
  vertical-align: baseline;
  width: 280px;
  font-size: 15px;
}

.enter {
  color: #272525;
  text-decoration: none;
  padding-left: 29px;
  position: relative;
}

.user-account a:hover {
  opacity: 0.6;
}

.user-account a:active {
  opacity: 0.3;
}

/*иконка формы входа*/
.enter::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/user.png") no-repeat;
  background-position: 0px 0px;

}

.enter:hover::before {
  opacity: 0.6;
}

/* Сравнить и корзина */

.action-block {
  display: inline-block;
  vertical-align: baseline;
  font-size: 15px;
}

.action-block a{
  color: #272525;
  text-decoration: none;
}

.compare {
  width: 100px;
  margin-right: 20px;
  padding-left: 20px;
  position: relative;
}

.compare::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 6px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/compare.png") no-repeat;
  /*background-position: -1px -15px;
  opacity: 0.3;*/
}

.basket {
  width: 100px;
  padding-left: 25px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 6px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/cart.png") no-repeat;
  /*background-position: -1px -15px;
  opacity: 0.3;*/
}

.action-block a:hover {
  opacity: 0.6;
}

.action-block a:active {
  opacity: 0.3;
}


/* Основная навигация по сайту */

.navigation-menu {
  margin-bottom: 55px;
  font-size: 0px;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  position: relative;
}

.navigation-menu a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 4px;

}

.navigation-menu a:hover {
  opacity: 0.6;
}

.navigation-menu a:active {
  opacity: 0.3;
}

.nav-catalog {
  display: inline-block;
  vertical-align: baseline;
  width: 500px;
  padding-left: 60px;
  font-size: 18px;
}

.nav-catalog:active::before {
  content: "Виртуальная реальность Моноподы для селфи";
  display: block;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 0;
  width: 1160px;
  height: 130px;
  background-color: #ffe393;
  margin: 0;
}

.catalog-menu {
  position: relative;
}

.catalog-menu::before {
  content: "";
  position: absolute;
  left: 235px;
  top: 2px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/plus.png") no-repeat;
  opacity: 0.3;
}

.main-navigation {
  display: inline-block;
  vertical-align: baseline;
  width: 560px;
  font-size: 18px;
}

.nav-delivery {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}

.nav-warranity {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.nav-contacts {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 170px;
}

/* Банер */

.banner {
  min-height: 500px;
  margin-bottom: 98px;

  background: linear-gradient(to top, transparent 400px, #ffe27f 400px);
}

.banner-picture {
  float: left;
  width: 600px;
  padding: auto;
  text-align: center;
}

.banner-content {
  float: right;
  width: 560px;
  position: relative;
}

.banner-number {
  color: #ffffff;
  font-size: 179.2px;
  font-family: "Gilroy", "Arial", giltroy;
  font-weight: bold;
  line-height: 170px;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 45px;
  top: 0px;
}

.banner-title {
  margin: 0;
  padding-top: 87px;
}

.banner-title::before {
  content: "";
  position: absolute;

  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin-top: -45px;
}

.banner-description {
  margin-bottom: 50px;
}

.more-info {
  margin-bottom: 40px;
}

.banner-details {
  float: left;
  width: 222px;
  margin: 0;
}

.btn {
  text-decoration: none;
  color: #000000;
  min-height: 32px;
  letter-spacing: 4px;
  font-size: 18px;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;

}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: inherit;
  height: 9px;
  background-color: #f0c52e;
  margin-top: 12px;
}

.btn:hover {
  background-color: #f0c52e;
}

.btn:active {
  background-color: #f0c52e;
  color: rgba(0,0,0,0.3);
}

.banner-navigation {
  float: right;
  width: 80px;
  max-height: 11px;
  margin-right: 80px;
  margin-top: 13px;
  padding: 0;
  font-size: 0px;
}

.banner-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}

.list-style {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.banner-info {
  font-size: 0px;
  padding: 0;
  margin: 0;
}

.feature-info {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  width: 150px;
  font-family: "Open Sans";
}

.feature-title {
  font-size: 36px;
  font-weight: normal;
  font-family: "Gilroy";
  color: #000000;
  margin-bottom: 0;
}

/* Категории продукции */

.catalog-list {
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0;
  min-height: 232px;
  font-size: 0px;
}

.catalog-list a {
  text-decoration: none;
  color: #000000;
  position: relative;
  padding-top: 195px;
  margin-top: 0;
}


.variation::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.variation:hover::before{
  background-color: #ffc600;
}

.variation:active{
  opacity: 0.3;
}

.virtual-reality {
  background: url("../img/popular-1.png") no-repeat;
}

.monopods-for-selfi {
  background: url("../img/popular-2.png") no-repeat;
}

.action-camera {
  background: url("../img/popular-3.png") no-repeat;
}

.fitness-bracelets {
  background: url("../img/popular-4.png") no-repeat;
}

.smart-clock {
  background: url("../img/popular-5.png") no-repeat;
}

.quadcopters {
  background: url("../img/popular-6.png") no-repeat;
}


.variation {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-right: 40px;
  margin-top: 195px;
  font-size: 18px;
  font-family: "Gilroy ExtraBold", "Arial", gilroy;
}

.variation:nth-child(6n){
  margin-right: 0px;
}

/* Важная информация для пользователей */
.info-block {
  margin-bottom: 150px;
}

.index-content::before{
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 288px;
  margin-top: 100px;

  padding: 0;
  background-color: #e5e5e5;
}

.info-menu {
  float: left;
  width: 276px;
  min-height: 235px;
  border-right: 4px solid #000000;
  padding-top: 80px;
}

.info-menu a{
  display: block;
  width: 160px;
  height: 40px;
  margin-bottom: 20px;
  text-decoration: none;
}

.info-menu a:active{
  min-width: 255px;
  min-height: 40px;
  padding-top: 8px;
  text-align: left;
  padding-left: 25px;
  color: #f7e184;
  background-color: #000000;
}

.active-info{
  letter-spacing: 4px;
  font-size: 18px;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  min-width: 255px;
  min-height: 40px;
  padding-top: 8px;
  text-align: left;
  padding-left: 25px;
  color: #f7e184;
  background-color: #000000;
}

.info-description {
  float: right;
  width: 760px;
  padding-left: 120px;
  padding-top: 30px;
  position: relative;
}

.info-description p {
  max-width: 460px;
}

.info-description::before {
  content: "";
  position: absolute;
  right: 67px;
  top: 87px;
  display: block;
  width: 140px;
  height: 190px;

  margin-left: 0;
  padding: 0;
  background: url("../img/delivery.png") no-repeat;

}

/* Логотипы партнеров */

.partners-logo {
  display: inline-block;
  vertical-align: top;

  width: 1200px;
  margin-bottom: 92px;
}

.partners-logo-item{
  float: left;
  width: 260px;
  margin-right: 40px;
  opacity: 0.2;
  background-image: url();
  filter: grayscale(100%);
}

.partners-logo-item:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.partners-logo-item:last-child {
  margin-right: 0px;
}

/* О нас и контакты */
.about-us {
  float: left;
  width: 460px;
  min-height: 651px;
  padding-right: 140px;
}

.about-us {
  background-color: #ffffff;
}

.contacts {
  background-color: #ffffff;
}

.about-us::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us a{
  display: block;
  width: 260px;

}

.about-us a:hover{

}

.about-us p {
  font-size: 15px;
  font-family: "Open Sans";
  color: #464646;
  line-height: 2;
  text-align: left;
}

.about-us ul {
  margin-top: 60px;
  font-family: "Gilroy ExtraBold";
  line-height: 40px;
  color: #000000;
  margin-bottom: 70px;
}

.contacts {
  float: left;
  width: 560px;
  min-height: 651px;
}

.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts a{
  display: block;
  width: 260px;
}

.contacts p {
  font-size: 15px;
  font-family: "Open Sans";
  color: #767676;
  line-height: 2;
  text-align: left;
}

.contacts iframe{
  margin-top: 30px;
  margin-bottom: 70px;
}

/* Подвал */
.main-footer {
  min-height: 325px;
  background-color: #464646;
  color: #ffffff;
}

.main-footer a {
  text-decoration: none;

}

.footer-links{
  padding-top: 60px;
  margin-bottom: 38px;

}

.footer-links a{
    opacity: 0.7;
}

.footer-links a:hover{
  opacity: 1;
}

.footer-links a:active{
  opacity: 0.3;
}

.logo-foot {
  float: left;
  width: 836px;
  font-size: 48px;
  font-family: 'Gilroy ExtraBold', 'Sans Serif', sans;
  text-decoration: none;
  color: #f7e184;
  opacity: 1;
}

.logo-foot:hover {
  color: #ffc700;
}

.logo-foot:active {
  color: #ffc600;
  opacity: 0.3;
}

.user-block-foot {
  float: right;

  text-align: right;
}

.user-block-foot .login {
  padding-left: 28px;
  margin-right: 40px;
  position: relative;
}

.user-block-foot .login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/user-footer.png") no-repeat;
  background-position: 0px 0px;
}

.user-block-foot .compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/compare-footer.png") no-repeat;
  background-position: 0px 0px;
}

.user-block-foot .basket::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/cart-footer.png") no-repeat;
  background-position: 0px 0px;
}

.user-block-foot a{
  font-family: "Open Sans Light", sans-serif;
  color: #929292;
  margin-top:0;
}

.footer-contacts {
  min-height: 87px;

}

.organization-adress {
  float: left;
  font-size: 15px;
  width: 360px;
  font-family: "Open Sans Light", sans-serif;
  color: #929292;
  margin-top:0;
}

.footer-navigation {
  float: left;
  width: 440px;
  font-size: 0px;
  margin-top: 0px;
}

.footer-navigation li {
  display: flex;
  align-content: space-between;
  list-style: none;
  font-size: 15px;
}

.footer-navigation a {
  color: #ffffff;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

.foot-delivery {
  float: left;
  width: 120px;
}

.foot-warranity {
  float: left;
  width: 120px;
}

.foot-contacts{
  float: left;
  width: 120px;
}

.number-phone {
  float: right;
  text-align: right;
  font-size: 15px;
  width: 360px;
  font-family: "Open Sans Light", sans-serif;
  color: #929292;
  margin-top:0;

}

.footer-info-links {
  position: relative;
}

.decorative-element {
  display: block;
  float: left;
  height: 7px;
  width: 80px;
  margin-top: 18px;
  margin-right: 420px;
  background-color: #ffe27f;

}

.htmlacademy-link {
  display: block;
  float: right;

  content: "";
  position: absolute;
  top: 5px;
  right: 0px;

  width: 27px;
  height: 37px;

  background: transparent url("../img/htmlacademy.png") no-repeat;
  background-position: 0px 0px;
}

.footer-social{
  float: left;
  font-size: 15px;
  width: 160px;
}


.social-btn:last-child {
  margin-right: 0px;
}

.social-btn {
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.social-btn-fb {
  background-image: url("../img/icon-fb.png");
}

.social-btn-inst {
  background-image: url("../img/icon-inst.png");
}

.social-btn-tw {
  background-image: url("../img/icon-twitter.png");
}


/*catalog*/

.catalog-hat {
  min-height: 180px;
}

.title-variation {
  margin-top: 40px;
  margin-bottom: 32px;
  padding-left: 60px;
}

.breadcrumps {
  font-size: 0px;
  padding-left: 60px;
}

.breadcrumps-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 19px;
  font-family: "Open Sans Ligth", "Arial", sans-serif;
}

.breadcrumps-item.active {
  opacity: 0.3;
}

.breadcrumps-item a {
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.breadcrumps-item a:hover {
  opacity: 0.6;
}

.breadcrumps-item a:active {
  opacity: 0.1;
}

.breadcrumps-item::after {
  content: ">";
  margin-left: 17px;
  font-family: "Open Sans Ligth", sans-serif;
  color: #000000;
  opacity: 1;
}

.breadcrumps-item:last-child::after {
  content: ""
}

.catalog-content {
  background-color: #eeeeee;
}

.catalog-sorting {
  min-height: 70px;
  font-size: 0px;
}

.filter-title {
  float: left;
  width: 267px;
  padding-left: 60px;
  font-size: 16px;
  background-color: #dddddd;
  color: #000000;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  letter-spacing: 4px;

}

.sorting-title {
  float: left;
  width: 760px;
  padding-left: 73px;
}

.title-sort-type a {
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans Regular', 'Arial', sans-serif;
  opacity: 0.3;
  font-weight: normal;
}

.title-sort-type a:hover {
  opacity: 0.6;
}

.title-sort-type a:active {
  opacity: 1;
}

.title-sort-type .active {
  opacity: 1;
}

.title-sort-type {
  float: left;
  width: 700px;
  font-size: 0px;
}

.title-sort{
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  margin-right: 53px;
  color: #000000;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.type-sort {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  margin-right: 27px;
  opacity: 1;
}

.sorting-arrows {
  float: right;
  width: 60px;
  max-height: 10px;
  margin-top: 25px;
  font-size: 0px;

}

.sort-to-max {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  max-height: 12px;

}

.sort-to-max::before {
  content: "";
  display: block;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-color: #000000;
  transform: rotate(45deg);
  position: absolute;
  margin-left: 2px;
  margin-top: -5px;
}

.sort-to-min {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 10px;

}

.sort-to-min::before {
  content: "";
  display: block;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-color: #000000;
  transform: rotate(45deg);
  position: absolute;
  margin-left: 28px;
  margin-top: 4px;
}

.catalog-filter {
  float:left;
  width: 267px;
  padding-left: 60px;
  min-height: 1218px;
}

.catalog-filter {
  margin-top: 70px;
}

.catalog-filter fieldset {
  border: 0px solid;
  margin-bottom: 35px;
}

.catalog-content-title {
  font-size: 18px;
  font-family: "Gilroy";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding-top: 15px;
  border-top: 2px solid #000000;
  width: 200px;

}

.filter-color label {
  display: block;
}

.filter-bluetooth label {
  display: block;
}

.catalog-filter input:[type="sumbit"]{
  width: 200px;
}

.catalog-view {
  float:right;
  width: 760px;
  padding-left: 73px;
  padding-top: 70px;
  font-size: 0px;
  background-color: #ffffff;


}

.catalog-product {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  margin-right: 20px;
  margin-bottom: 60px;
  font-size: 0px;
  position: relative;
}

.catalog-product a {
  text-decoration: none;

}

.catalog-product img {
  margin-bottom: 28px;
  background-color:
}

.catalog-product img:hover {
  opacity: 0.7;
  visibility: visible;
}

.add-compare {
  position: absolute;
  left: 100px;
  top: 228px;
  font-size: 13px;
  font-family: "Open Sans Light";
  color: #000000;
  line-height: 2.769;
  opacity: 0.5;
}

.catalog-product input[type="submit"]{
  position: absolute;
  left: 80px;
  top: 180px;
  width: 200px;
}

.product-title {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 0;

  width: 260px;
  font-size: 18px;
  font-family: "Gilroy";
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
}

.product-price {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 1px;
  width: 100px;
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: normal;
  color: #444444;
  line-height: 1.2;
  text-align: right;

}

.catalog-product:nth-child(2n) {
  margin-right: 0px;
}

.paginator {
  display: block;
  width: 690px;
  height: 70px;
  margin-left: 20px;
  font-size: 15px;
  background-color: #ebebeb;
  margin-bottom: 76px;
  font-size: 0;
  padding: 0;
}

.paginator a {
  text-decoration: none;

}

.paginator .btn-pag {
  font-size: 16px;
  color: #000000;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  opacity: 0.3;
  margin-right: 25px;
}

.paginator .btn-active {
  opacity: 1;
}

.btn-catalog-prev {
  display: inline-block;
  vertical-align: baseline;

  width: 100px;
  min-height: 50px;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 16px;
  color: #000000;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 185px;

}

.btn-catalog-prev:hover {
  background-color: #d9d9d9;
}

.btn-catalog-prev:active {
  background-color: #878787;
  opacity: 0.3;

}

.btn-catalog-next {
  display: inline-block;
  vertical-align: baseline;

  width: 100px;
  min-height: 50px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 156px;

  font-size: 16px;
  color: #000000;
  font-family: 'Gilroy ExtraBold', 'Arial', giltroy;
  text-transform: uppercase;
  letter-spacing: 4px;

}

.btn-catalog-next:hover {
  background-color: #d9d9d9;
}

.btn-catalog-next:active {
  background-color: #878787;
  opacity: 0.3;
}
